<div class="main">
  <%= form_with url: "/pokemons/search", method: :post,id: "form",class: "form" do |form| %>
    <div class="attack_defense_wrapper">
      <div class="attack_side_form">
        <div class="attack_side_bar"></div>
        
        <div class="attack_side_item">
          <div class="attack_side_title">攻撃側</div>
          <div class="status1">
            <div class="status1_left">
              <div class="name">名前</div>
              <div class="name_wrapper">
                <div class="status_number" id="attack_status_number">H A B C D S</div>
                <%= form.text_field :attack_pokemon_name, id: "attack_pokemon_name", placeholder:"ポケモン名を入力してください", class:"name_form" %>
                <div class="search"></div>
              </div>

              <div class="type">タイプ</div>
              <div class="type_wrapper">
                <div class="type1" id="attack_type1"></div>
                <div class="type2" id="attack_type2"></div>
              </div>
            </div>
            <div class="status1_right">
              <div class="level">Lv</div>
              <%= form.number_field :attack_pokemon_level, id: "attack_level", value:"50", class:"level_form" %>
            </div>
          </div>
          <div class="status2">
            <div class="attack_wrapper">
              <div class="attack" id="attack_letter">攻撃</div>
              <%= form.number_field :attack_pokemon_status, id: "attack_status", class:"attack_form" %>
            </div>
            <div class="individual_wrapper"> 
              <div class="individual">個体値</div>
              <%= form.number_field :attack_pokemon_individual, id: "attack_individual", value:"31", class:"individual_form" %>
            </div>
            <div class="effort_wrapper">
              <div class="effort">努力値</div>
              <%= form.number_field :attack_pokemon_effort, id: "attack_effort", value:"252", class:"effort_form" %>
            </div>
          </div>
          <div class="status2"></div>
          <div class="status3">
            <div class="personality_wrapper">
              <div class="personality">性格</div>
              <%= form.radio_button :attack_personality, "0.9",{class:"attack_personality"} %>
              <%= form.label :attack_personality, "0.9", value: 0.9,class:"attack_personality_check_block" %>
              <%= form.radio_button :attack_personality, "1.0", {class:"attack_personality", checked: true} %>
              <%= form.label :attack_personality, "1.0", value: 1.0,class:"attack_personality_check_block" %>
              <%= form.radio_button :attack_personality, "1.1", {class:"attack_personality"} %>
              <%= form.label :attack_personality, "1.1", value: 1.1,class:"attack_personality_check_block" %>

            </div>

            <div class="rank_wrapper">
              <div class="rank">ランク</div>
              <%= form.text_field :attack_pokemon_rank, value:"0", id: "attack_rank_form", class:"rank_form" %>
              <label for="attack_rank_form" class="rank_number" id="attack_rank_form_label">±0</label>
              <div class="rank_rise" id="attack_rank_rise"><%= image_tag "attack_rise.png", class:"attack_rise_image" %></div>
              <div class="rank_down" id="attack_rank_down"><%= image_tag "attack_down.png", class:"attack_down_image" %></div>
            </div>
          </div>
          <div class="status4">
            <div class="characteristic">とくせい</div>
            <select name="attack_pokemon_characteristic" id="attack_characteristic" class="characteristic_form">
            </select>
          </div>
          <div class="status5">
            <div class="tool">道具</div>
            <%= form.collection_select(:attack_pokemon_tool, AttackTool.all, :name, :name, {}, {class:"tool_form", id:"attack_tool"}) %>
          </div>
          <div class="status6">
            <div class="technique">技名</div>
            <select name="attack_technique_name" id="attack_technique_name" class="technique_form">
            </select>
            <%= form.radio_button :kind, "ぶつり", {class:"kind",id:"kind_physics", checked: true} %>
            <label for="kind_physics" id="kind_check_block_physics">ぶつり</label>
            <%= form.radio_button :kind, "とくしゅ", {class:"kind",id:"kind_special"} %>
            <label for="kind_special" id="kind_check_block_special" >とくしゅ</label>
          </div>
          <div class="status7">
            <div class="power">威力</div>
            <%= form.number_field :attack_technique_power, id: "attack_power", class:"power_form" %>
            <div class="technique_type">タイプ</div>
            <%= form.text_field :attack_technique_type, id: "attack_type", class:"technique_type_form" %>
          </div>
          <div class="status8">
            <%= form.check_box :attack_burn,{} ,"あり","なし" %>
            <label for="attack_burn" id="burn_check_image"><%= image_tag "monsterball.png", class:"monsterball_image" %></label>
            <div class="condition">やけど</div>
          </div>
        </div>
      </div>


      <div class="defense_side_form">
        <div class="defense_side_bar"></div>
        <div class="defense_side_item">
          <div class="defense_side_title">防御側</div>
          <div class="status9">
            <div class="status9_left">
              <div class="name">名前</div>
              <div class="name_wrapper">
                <div class="status_number" id="defense_status_number">H A B C D S</div>
                <%= form.text_field :defense_pokemon_name, id: "defense_pokemon_name", placeholder:"ポケモン名を入力してください", class:"name_form" %>
              </div>

              <div class="type">タイプ</div>
              <div class="type_wrapper">
                <div class="type1" id="defense_type1"></div>
                <div class="type2" id="defense_type2"></div>
              </div>
            </div>
            <div class="status9_right">
              <div class="level">Lv</div>
              <%= form.number_field :defense_pokemon_level, id: "defense_level", value:"50", class:"level_form" %>
            </div>
          </div>
          <div class="status10">
            <div class="physical_wrapper">
              <div class="physical">HP</div>
              <%= form.number_field :defense_physical_status, id: "defense_physical_status", class:"physical_form" %>
            </div>
            <div class="individual_wrapper"> 
              <div class="individual">個体値</div>
              <%= form.number_field :defense_physical_individual, value:"31", id: "defense_physical_individual", class:"individual_form" %>
            </div>
            <div class="effort_wrapper">
              <div class="effort">努力値</div>
              <%= form.number_field :defense_physical_effort, value:"252", id: "defense_physical_effort", class:"effort_form" %>
            </div>
          </div>
          <div class="status11">
            <div class="defense_wrapper">
              <div class="defense" id="defense_letter">防御</div>
              <%= form.number_field :defense_defense_status, id: "defense_defense_status", class:"defense_form" %>
            </div>
            <div class="individual_wrapper"> 
              <div class="individual">個体値</div>
              <%= form.number_field :defense_defense_individual, value:"31", id: "defense_defense_individual", class:"individual_form" %>
            </div>
            <div class="effort_wrapper">
              <div class="effort">努力値</div>
              <%= form.number_field :defense_defense_effort, value:"252", id: "defense_defense_effort", class:"effort_form" %>
            </div>
          </div>
          <div class="status12">
            <div class="personality_wrapper">
              <div class="personality">性格</div>

              <%= form.radio_button :defense_personality, "0.9", {class:"defense_personality"} %>
              <%= form.label :defense_personality, "0.9", value: 0.9,class:"defense_personality_check_block" %>
              <%= form.radio_button :defense_personality, "1.0", {class:"defense_personality", checked: true} %>
              <%= form.label :defense_personality, "1.0", value: 1.0,class:"defense_personality_check_block" %>
              <%= form.radio_button :defense_personality, "1.1", {class:"defense_personality"} %>
              <%= form.label :defense_personality, "1.1", value: 1.1,class:"defense_personality_check_block" %>

            </div>

            <div class="rank_wrapper">
              <div class="rank">ランク</div>
              <%= form.text_field :defense_pokemon_rank, value:"0", id: "defense_rank_form", class:"rank_form" %>
              <label for="defense_rank_form" class="rank_number" id="defense_rank_form_label">±0</label>
              <div class="rank_rise" id="defense_rank_rise"><%= image_tag "defense_rise.png", class:"defense_rise_image" %></div>
              <div class="rank_down" id="defense_rank_down"><%= image_tag "defense_down.png", class:"defense_down_image" %></div>
            </div>
          </div>
          <div class="status13">
            <div class="characteristic">とくせい</div>
            <select name="defense_pokemon_characteristic" id="defense_characteristic"  class="characteristic_form">
            </select>
          </div>
          <div class="status14">
            <div class="tool">道具</div>
            <%= form.collection_select(:defense_pokemon_tool, DefensiveTool.all, :name, :name, {}, {class:"tool_form", id:"defense_tool"}) %>
          </div>
          <div class="status15"></div>
          <div class="status15"></div>
          <div class="status15">
            <%= form.check_box :defense_reflector,{}, "あり","なし" %>
            <label for="defense_reflector" id="reflector_check_image"><%= image_tag "monsterball.png", class:"monsterball_image" %></label>
            <div class="condition">リフレクター</div>
            <%= form.check_box :defense_hikari,{}, "あり","なし" %>
            <label for="defense_hikari" id="hikari_check_image"><%= image_tag "monsterball.png", class:"monsterball_image" %></label>
            <div class="condition">ひかりのかべ</div>
          </div>
        </div>
      </div>
    </div>
    <div class="environment_title">環境</div>
    <div class="environment">
      <div class="environment_side_bar"></div>
      <div class="wether_wrapper"> 
        <div class="wether">天候</div>

        <%= form.radio_button :wether, "なし", {class:"wether_content", checked: true} %>
        <%= form.label :wether, "なし", value: "なし", class:"wether_check_block" %>
        <%= form.radio_button :wether, "あめ", {class:"wether_content"} %>
        <%= form.label :wether, "あめ", value: "あめ", class:"wether_check_block" %>
        <%= form.radio_button :wether, "はれ", {class:"wether_content"} %>
        <%= form.label :wether, "はれ", value: "はれ", class:"wether_check_block" %>
        <%= form.radio_button :wether, "すな", {class:"wether_content"} %>
        <%= form.label :wether, "すな", value: "すな", class:"wether_check_block" %>
        <%= form.radio_button :wether, "あられ", {class:"wether_content"} %>
        <%= form.label :wether, "あられ", value: "あられ", class:"wether_check_block" %>
      </div>
      <div class="field_wrapper">
        <div class="field">フィールド</div>

        <%= form.radio_button :field, "なし", {class:"field_content", checked: true} %>
        <%= form.label :field, "なし", value: "なし", class:"field_check_block" %>
        <%= form.radio_button :field, "エレキ", {class:"field_content"} %>
        <%= form.label :field, "エレキ", value: "エレキ", class:"field_check_block" %>
        <%= form.radio_button :field, "グラス", {class:"field_content"} %>
        <%= form.label :field, "グラス", value: "グラス", class:"field_check_block" %>
        <%= form.radio_button :field, "サイコ", {class:"field_content"} %>
        <%= form.label :field, "サイコ", value: "サイコ", class:"field_check_block" %>
        <%= form.radio_button :field, "ミスト", {class:"field_content"} %>
        <%= form.label :field, "ミスト", value: "ミスト", class:"field_check_block" %>
      </div>
      <div class="gravity_wrapper">
        <%= form.check_box :gravity,{},"あり","なし" %>
        <label for="gravity" id="gravity_check_image"><%= image_tag "monsterball.png", class:"monsterball_image" %></label>
        <div class="gravity">じゅうりょく</div>
      </div>
    </div>
  <% end %>
  <div class="damage_title">ダメージ計算</div>
  <div class="damage_all">
    <div class="damage_side_bar"></div>
    <div class="attack_side_wrapper">
      <div class="attack_side">攻撃側</div>
      <div class="attack_side_pokemon" id="attack_side_pokemon"></div>
    </div>
    <div class="damage_main">
      <div class="damage_wrapper">
        <div id="adjust_above"></div>
      </div>
      <div class="figure_wrapper">
        <div class="physical_figure">
          <div class="damage_figure_max" id="damage_figure_max"></div>
          <div class="damage_figure_yellow" id="damage_figure_yellow"></div>
          <div class="damage_figure_red" id="damage_figure_red"></div>
          <div class="damage_figure_min" id="damage_figure_min"></div>
        </div>
        <div id="physical_number"></div>
      </div>
      <div class="damage_wrapper">
        <div id="adjust_under"></div>
      </div>
    </div>
    <div class="defense_side_wrapper">
      <div class="defense_side">防御側</div>
      <div class="defense_side_pokemon" id="defense_side_pokemon"></div>
    </div>
  </div>

</div>